
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
